
body {
    
    padding: 20px;
    margin: 0px;
    background-color: white;
     background-image: url('./images/background.jpg');  
    
  }
  .nav li a.links {
    float: right;
    color:black
  }
  h1, h2, p, ul, li {
    font-family: Arial;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  /* .haa{
    background-color: #FFF;

  } */
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    /* background-color: #FFF;  */
    padding: 20px;
  }
  .about {
     background-color: #FFF;  
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .login,
.register {
  width: 400px;
}

.login h2,
.register h2,
.edit h2
{
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}
.upload{
  font-size: 30px;
}

.login a {
  text-align: center;
}

input[type='text'] {
  background-color:#e6e6e6;
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  padding: 20px 30px;
}

input[type='password'] {
  background-color: #e6e6e6;
  padding: 20px 30px;
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
}

input[type='submit'] {
  padding: 15px 0px;
  background-color: black;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
}
.imgfile{
  width: 100px;
  height:100px;
  position: relative;
  border: 2px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.imgfile .upload{
  width:100%;
  height:100%;
}

.fileimages{
  float: left;
  width: 16%;
}

td{
  width:50px;
}
.p{
  float:right;
}