.collabel{
   
    background-color: lightgray;
    padding:  10px;
    
}
.profilemain{
    
    margin-left:20%;
    margin-right: 20%;
    background-color:lightgray;
    padding:  20px;
    box-shadow: 5px 5px 5px black;
}