.uploadTable{
    background-color: lightslategrey;
    padding: 10px;
    
}
td{
    padding-top: 20px;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 20px;
    vertical-align: center;
  }